*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: #e3f9ff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator{
    background: #3a4452;
    padding: 20px;
    border-radius: 10px;
}

.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}

form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}

form input.equal{
    width: 145px;
}

form input.operator{
    color: #33ffd8;
}

/* Style for the usage guide */
.usage-guide {
    background: #f3f3f3;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-left: 50px;
    margin-top: 20px;
    text-align: left;
}

.usage-guide h2 {
    font-size: 18px;
    color: #333;
}

.usage-guide p {
    font-size: 16px;
    color: #555;
    margin: 10px 0;
}

.usage-guide p:first-child {
    margin-top: 0;
}

/* Media Query for screens with a maximum width of 480px */
@media screen and (max-width: 480px) {
    .calculator {
        padding: 10px;
        display: block; /* Change to block display */
    }

    .calculator form input {
        width: 40px;
        height: 40px;
        font-size: 16px;
        margin: 5px;
    }

    .usage-guide {
        margin: 10px 0;
        display: block; /* Change to block display */
    }
}
